<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US>

<div class=WordSection1>

<p class=MsoNormal>American Made Review</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&#9658;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>A pilot gets recruited by the CIA and works as a drug runner in
the south during the 1980's</p>

<p class=MsoNormal>&#9658;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Starring Tom Cruise</p>

<p class=MsoNormal>&#9658;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Based on a true story</p>

<p class=MsoNormal>&#9658;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Directed by Doug Liman: Swingers, The Bourne Identity, Mr. &amp;
Mrs. Smith</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>American Made was exactly "good." To stretch that in either
direction would be an embellishment; an embellishment I'm damn tempted to make,
but won't. I refuse. (I've gotta fool you into thinking I'm a man of character
now, so I can lie for personal gain later, when there's bribes on the table,
you see. The long con, I believe it's called.) </p>

<p class=MsoNormal>The story was compelling, and wonderfully captured by
veteran director Doug Liman. Cruise crushed it. The supporting cast, led by
Domhnall Gleeson, crushed it. Sound guy crushed it. Key grip crushed it. Craft
services, I'm sure crushed it. However, the story fell victim to its own
magnitude. It was such a wild ride that by 30 minutes in, the stakes were
already as high as they could get, and the rest of the movie was just a matter
of watching the substantial number of moving pieces get shuffled around. </p>

<p class=MsoNormal>This would have worked immensely better as a miniseries. The
central characters actions were reckless and mesmerizing, but equally as
compelling, if not more so, were the storylines that had to be left out, and
rushed over in order to make the movies just under 2 hour running time: The
ragtag fleet of pilot's under Cruise's characters command. The CIA's
puppeteering. The closing net of separately operated law enforcement groups and
secret task forces independently trying to take him down, and the beginning of
the Medellin cartel, just to name a few. </p>

<p class=MsoNormal>This isn't a must-see, but if you're in the mood for a
movie, this one's worth watching. It has great action, a cool story, and some
real laughs. </p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>PERSCRIPTION:</p>

<p class=MsoNormal>For a better Liman/Cruise combination: Watch 2014's Edge of
Tomorrow (Cruise's co-star here is Domhnall Gleeson's father, acting legend
Brendan Gleeson) </p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
