<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US>

<div class=WordSection1>

<p class=MsoNormal>Flatliners Review </p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'><span
style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>A group of medical students stop each other's hearts for short
periods of time to trigger near death experiences and discover what happens
after you die. </p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'><span
style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>A remake of the 1990's movie of the same name. </p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'><span
style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Starring Ellen Page, Diego Luna, Nina Dobrev.</p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'><span
style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Drama/Thriller</p>

<p class=MsoListParagraphCxSpLast>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>For the uninitiated: after flatlining, evidently, your first
order of business is ALWAYS to bang a work colleague. Next step, depending on
your background, is to bake bread using an old family recipe (obviously) or
show off some other equally meaningless skill that you're now able to recall.
The next step – and here's the kicker – is to be haunted to death by your
biggest regret. Now, none of my coworkers are my type and my grandmas bread
recipe sucks, so flatlining doesn't really seem like it's for me; but accidents
do happen, so just in case my heart accidently stops and starts again, let me
just formally make amends here and now for purchasing a ticket to see this
movie. </p>

<p class=MsoNormal>I was a fan of <i>The OC</i>, so I have a higher tolerance
than most for watching preposterously attractive people timing it perfectly so
their friends walk in right in time to see them trying to kill themselves but
not really, so I'm giving that concept a pass. What I won't give a pass to, is
that it was set up in the name of science. With brain scanners and the whole
deal, and the second one of these prestigiously trained doctors has a bad trip,
they throw the baby out with the bathwater and all settle on "what's happening
can't be explained!" At that point the movie shifts and instead of an
interesting sci-fi concept movie, we're left watching essentially a bad drug/party
movie with a basic 12-steps kind of journey gutted out and turned into a
B-horror film.  </p>

<p class=MsoNormal>Which brings me to this little declaration: I'm making a ruling.
From now on, all PG13 movies need to be capped at one sex/faux-nude scene per
movie. Every neck-up scene after the first one just starts to feel like the
equivalent of watching a group of kids screaming at one another to ‘get "F'ed"
and to go to H.E.double-hockey-sticks. You're not pulling one over on anybody,
with that move, OK? Either have the balls to show it for real, or have the
balls to come up with actual plot points.</p>

<p class=MsoNormal>For such an interesting concept (Terry Gilliam – <i>12
Monkeys</i>, <i>The Fisher King</i> – would have crushed this idea) they've
managed to completely botch and leave out everything intriguing about it for
the second time in a row now.  I couldn't understand a portion of Diego Lunas
dialogue through his thick accent; and 20 minutes into the movie, I realized
that wouldn't make much of a difference. Otherwise the actors did a fine job
with what they had.  This movie was made by the writer of <i>Source Code</i>
and the Director of <i>The Girl with the Dragon Tattoo </i>so I was hoping for
more, but I think we all knew after the first trailer how this one was going to
turn out. I think it's safe to mark this one with a big "DO NOT RESUSCITATE." </p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>PERSCRIPTION:</p>

<p class=MsoNormal>For a better movie in this genre: Watch 1999's <i>Stir of
Echoes.</i> </p>

<p class=MsoNormal>For a better movie about unearned knowledge: Watch 2011's <i>Limitless</i>.
</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal> </p>

</div>

</body>

</html>
