<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=EN-US>

<div class=WordSection1>

<p class=MsoNormal>IT REVIEW </p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>When it comes to movies like this, you just have to know
your camp. Either you're the kind of person who can get behind a story about a
shapeshifting clown demon that torments small town children every 27 years, or
you're not. If that sounds like your cup of tea, stop playing coy. It's
breaking box office records, it's rated R, and you, me and the studio all know
they've had your money since the first behind-the-scenes photos popped up on
twitter.  If you're in the other camp, looking down at the avalanche of hype
and money <i>It's</i> currently being buried under, desperately seeking an
explanation, and possibly even a little reassurance that if you joined in on
said avalanche, you wouldn't be throwing away your time and money on hours of
mindless carney themed blood splatter, I'm writing the following with you in
mind.</p>

<p class=MsoNormal>I doubt it comes as news to anyone that <i>It</i> was
adapted from the Stephen King book, which was previously adapted into a
miniseries starring Tim Curry, but it's still necessary in situations like this
to touch on that, so let me give you the truncated version so we can move on:
No, it isn't as good as the book. If you're hesitant to watch this version
because you loved the last version so much – time has distorted your opinion of
the last one. Re-watch it and lose a piece of your childhood if you need to (or
skim my throwback review I just wrote to save you time) but trust me, it was
worse than you remember. If you're hesitant to see this one because you hated
the last one, you're going in with the same state of mind as I was, and that's
not a bad place to be.</p>

<p class=MsoNormal>I'm gonna give it to you straight, there was some cheese.
Some bad CGI. Some jump-scares for the sake of it. That's par for the course;
people in camp 1 might even say that is the course. But there was also a lot of
fun to be had! Instead of telling the story flatout and switching between the
characters both as youths and as post traumatic adults, this take focuses totally
on them as kids. This accomplishes two things: A) it leaves things wide open
for a sequel, and B) it makes this chapter, at least, way better. What this
movie got right was the relationships between the kids. Their snarky banter and
emotional turmoil derived from honestly told home troubles gave the story
enough credibility and nuance that when pennywise came out to do his thing, you
were totally willing to go on the ride with this crew. In this way, the
comparison I think everyone would be comfortable with is another Stephen King
adaptation <i>Stand by me. </i>But I prefer to think of it more like The
Sandlot. Assuming you replaced all the baseball with parental abuse and swapped
the mastiff dubbed Hercules with a fucking demon. </p>

<p class=MsoNormal>Bottom line is, it was superbly acted on all accounts, the
writer and director didn't treat the audience like they had an IQ under 20, and
even if you don't love the movie, you'll genuinely like chunks of it. </p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Finally, someone figures out how to make a good remake
without running to Dwaine Johnson for a bail out. </p>

<p class=MsoNormal>Prescriptions:</p>

<p class=MsoNormal>Movies for this kind of mood: jeepers creepers, super 8</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal> </p>

</div>

</body>

</html>
