<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US>

<div class=WordSection1>

<p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'><span
style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Sequel to 2014's Kingsman: The Secret Service</p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'><span
style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Co-written/directed  by Matthew Vaughn – Layer Cake, Kick-Ass,
X-Men First Class</p>

<p class=MsoListParagraphCxSpLast style='text-indent:-.25in'><span
style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Two elite spy organizations team up to stop a common enemy from
killing millions</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Kingsman: The Golden Circle Review </p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>I come to you now with a heavy heart, hat in hand, to
proclaim – Kingsman: The Golden Circle was kind of awesome! I fancy myself
something of a snob, so it's a hard pill to swallow, but as the ending credits
began to roll, a realization came over me: this film was, by far, the most fun
I've had at the movies in a long time; and I got a handjob during <i>Going in
Style </i>for Christ sake! Kidding. </p>

<p class=MsoNormal>Was the movie obscene? Sure. Was it bloated? Totally. Should
it have gotten the greenlight to begin with? Who the hell knows. What I do know
is, the sequel to 2014's Kingsman: The Secret Service (which I didn't
particularly enjoy) got right everything that's been missing from blockbusters
and the James Bond franchise - I imagine this is particularly satisfying to Kingsman
co-writer/director Matthew Vaughn, considering it was <i>Layer Cake</i>, his
directorial debut, that got Daniel Craig the Bond Tuxedo to begin with. It was
a great time. It was playful and absurd and still managed to throw in sincerity
and heart – which, yeah, is a little bit like trying to grind up a vitamin
inside a deep fried Twinkie sundae, but to hell with it.</p>

<p class=MsoNormal>If watching Schindler's list is like going to an extremely
important and well-done history exhibit then watching Kingsman: The Golden
Circle is like going to an amusement park and skipping all the lines. The
gadgets were neat, the cameos and supporting cast were perfect, and the set
pieces had me literally (correct usage of the word 'literally') giggling in my
seat. </p>

<p class=MsoNormal>Look, let's be simple about this. Without giving anything
away, at one point, Sir Elton John, in full sequined costume, jump kicks a man
in the face in slow-motion to his own score.  If that sounds like something you
could see yourself watching, you're in for a treat. If not, I blame that damned
Fast and the Furious franchise for making you numb, but I get it. This may not
be your cup of tea. </p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>PERSCRIPTION:</p>

<p class=MsoNormal>Just give into the circus that is this movie. </p>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
