<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=EN-US>

<div class=WordSection1>

<p class=MsoNormal>A superbly directed, superbly acted, lame ass movie. </p>

<p class=MsoNormal>With mother! the once infallible Aronofsky continues his
string of biblically inspired misses. </p>

<p class=MsoNormal>Aronofsky knows how to create hauntingly visceral images and
this film is no exception. When watching mother! there's no doubt you're watching
the work of a master at their craft. Unfortunately, as the movie labors along,
and the initial excitement wears off, the suspense dissipates into boredom. It's
like buying tickets to a David Blaine show in which he simply shuffles a deck
for two hours. The only thing more frustrating than slowly realizing a trick is
never coming is knowing that there are those out there who will call it
brilliant and praise its nondefinitive nature. </p>

<p class=MsoNormal>Honestly I'm not really sure what is and isn't a spoiler
with this one, so I'm just gonna stay away from plot details. Though I don't
think calling Aronofsky's film a messianic love letter to himself is too out of
line. </p>

<p class=MsoNormal>If you're deep into films, you'll probably spend the runtime
frustrated and annoyed. If you're just an average moviegoer, you'll most likely
either spend it bored and wondering what you're not getting, or spend it
frantically mapping on your own meanings in an attempt to not look like the
asshole of the group talking in the auditorium after, in case your friends
noticed something you didn't. (which, ironically, might make you the asshole of
the group.) </p>

<p class=MsoNormal>This movies home, if it finds one, is more than likely going
to be with that small group in between who fancy themselves misunderstood
artistic geniuses and need this kind of film to not only explain to the rest of
us exactly how much of a burden their selfless plight really is, but also to
let us know how futile our attempts to even fathom said plight really is. </p>

<p class=MsoNormal>On a positive note, Jennifer Lawrence's performance as
“mother” was remarkable, and the directing was, as always, inspired. </p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>PERSCRIPTION: </p>

<p class=MsoNormal>Any other Darren Aronofsky movie *Noah doesn't count, you
damn well know it doesn't!*</p>

<p class=MsoNormal>He also seemed to borrowed pretty heavy from early Polanski
films, so if you somehow liked this movie, or just want to see what it could
have been, those are always fun to go back and watch, and still hold up
nicely.  </p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
