<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US>

<div class=WordSection1>

<p class=MsoNormal>The Mountain Between Us Review</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'><span
style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>After their plane crashes into a remote snow-covered mountain,
two strangers forge a connection while trying to walk hundreds of miles to
safety.</p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'><span
style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Starring Kate Winslet and Idris Elba</p>

<p class=MsoListParagraphCxSpLast style='text-indent:-.25in'><span
style='font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Directed by Hany Abu-Assad: <i>Paradise Now</i></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Nope.</p>

<p class=MsoNormal>Don't get me wrong, I truly love the "plane crash survivors
struggle with the harsh limits of their own humanity and will to live" genre.
But most filmmakers who embark on a project like this understand instinctively
that if you want to pull off a movie like that, you need to meet the audience
half way. Toss us a little bit of a gimmick, for lack of a better word. We'll
endure your two hours of people walking and complaining about cramps, but in
return we damn well expect a 'man-eater' of a bear to be stalking you the whole
journey, or for food rations to get so low, so quickly that killing and
consuming the weakest member of the group is the only possible recourse. Hell,
we'll even settle for an anthropomorphic volleyball with a face made of dried human
blood. We're not unreasonable, here. </p>

<p class=MsoNormal>This film decided to play it straight. Two people and a dead
pilots dog, walking down a really cold mountain, dealing with manageable leg
injuries and rational cold related health concerns. The kind of stranded in the
snow movie where, the second the characters realize they need to make a fire –
they find a fully functioning lighter on board, no questions asked. I almost
respect it. I can picture the writers room now: Two philosophic artists talking
about how they were gonna do for the man vs.. nature genre, what <i>Blue
Valentine</i> did for the romance genre. 'none of that Hollywood bullshit man!
I'm talkin' about two characters just talking their way down that high altitude
sumbitch!' </p>

<p class=MsoNormal>Late in the movie, the story takes a much more intimate turn.
This comes as an unnerving surprise given the utter lack of chemistry, and what
bordered on apathy, coming from the co-stars, and it becomes clear that this
possible romance in the making is what we were supposed to be holding onto this
whole time.  Now I don't know if halfway into production the director realized
all the things I've just mentioned for himself and tried to contrive together
some chemistry between the leads, hoping against hope that because Winslet
already pulled off Romeo and Juliet on a Shipwreck, maybe she could pull it off
on a plane wreck as well. Or if it was always written to have the arc it did,
but no matter how it happened, the film devolves into a weird romantic scenario
that feels like being forced into doubling with a couple on a blind date, in
which nobody wants to be there, but everyone's too annoyingly polite to give up
the charade. </p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>PERSCRIPTION:</p>

<p class=MsoNormal>For better plane crash survival movies: Watch <i>The Edge,
Cast Away</i></p>

<p class=MsoNormal>For a better - but still bad - version of this movie: Watch 
<i>Six Days Seven Nights</i> </p>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
