<style>
  li, ul, div{
    padding-top: 5px;
    padding-left: 10px;
  }
</style>

<ul class="nav nav-pills">
  <li role="button" class="active"><a href="#">Home</a></li>
  <li role="presentation" class="disabled"><a href="#">Review Database</a></li>
  <li role="presentation" class="disabled"><a href="#">Upload</a></li><div class="row">

<style>
  div{
    padding-top: 10px;
    padding-left: 0px;
  }
</style>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</ul>

<style>
  div{
    padding-top: 0px;
  }
</style>
<br>
<div class="panel-group" id="accordion">
  <% @i = 0 %>
  <% @reviews.each do |review| %>
  <% @i = @i + 1 %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href= #collapse<%= @i %>>
        <strong><%= review.title %></strong></a>
      </h4>
    </div>
    <div id=collapse<%= @i %> class="panel-collapse collapse">
      <div class="panel-body"><%= review.body.html_safe %></div>
    </div>
  </div>
  <% end %>
  <% @i = 0 %>
</div>
